/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}

ul {
  list-style: none;
}
header {
  padding: 0 2.25rem;
}

article {
  margin-bottom: 2.5rem;
}

section,
footer {
  padding: 4.375rem 2.25rem;
}

h1,
h3,
ul,
p,
address,
time {
font-family: 'Roboto', sans-serif;
}

.introduction > p,
.tech > p,
h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 0.8125rem; /* 13 px */
}

h2 {
 font-size: 1.375rem; /* 22 px */
}

h3 {
  font-size: 1.3125rem /* 21 px */
}

p {
  font-size: 1.0625rem; /* 17px */
}

/* Modules */
.portfolio-section:nth-child(odd) {
  background-color: #f4f4f4;
}

.portfolio-section:nth-child(even) {
  background-color: #fff;
}

.section-title {
  background-color: #fa382f;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  grid-area: title;
  margin: 0 auto 2rem auto;
  padding: 0.125rem 0.625rem;
  text-transform: uppercase;
}

.subsection-title {
  color: #fa382f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 4.375rem 0 2.3125rem 0;
  text-transform: uppercase;
}

.featured-project a,
.project a,
.posts a {
  color:#000;
  text-decoration: none;
}

.read-more {
  color: #fa382f;
  font-weight: 700;
}

.social-media-icon {
  height: 16px;
  width: auto;
  z-index: 2;
}

/* Site header */
.site-header {
  display: grid;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:   
  ".... .... .... social"
  "title title title title"
  "tagline tagline tagline tagline"
  ".... .... .... portrait";
}

.site-header {
  color: #fff;
  height: 480px;
  padding-top: 4rem;
  position: relative;
  width: 100%;
}
.site-header::before {
  background: url('./assets/slack-imgs.png') center;
  content: '';
  filter: brightness(75%);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.site-title {
  font-weight: 400;
  grid-area: title;
  margin-top: 2rem;
  text-transform: uppercase;
}

.author-name {
  font-weight: 700;
}

.site-tagline {
  grid-area: tagline;
  margin-bottom: 5rem;
}

.job-title-primary {
  font-size: 2.5rem; /* 40px */
  font-weight: 700;
  line-height: 1.1;
}

.job-title-secondary {
  font-size: 1.5rem;
  font-weight: 700;
}

.author-portrait {
  grid-area: portrait;
  justify-self: end;
  top: 5px;
  position: relative;
  width: 162px;
}

.social-links {
  display: flex;
  grid-area: social;
}

.social-links li:first-child {
  margin-left: 0;
}
.social-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 15px;
}
.social-links li::before {
  content: '';
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  position: absolute;
}
.social-links .social-link {
  height: 36px;
  width: 36px;
}

/* Introduction */
.introduction-decoration {
  background-color: #fa382f;
  display: inline-block;
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  margin-right: 0.8rem;
  width: 40px;
}

.introduction-decoration::after {
  background-color: #fa382f;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 8px;
  left: 32px;
  position: absolute;
  top: -3px;
  width: 8px;
}

.introduction::first-letter {
  margin-left: 3rem;
}

/* Projects */
.projects {
  text-align: center;
}

.featured-project,
.project {
  text-align: left;
}

.project-header {
  background-color: #000;
  padding: 0;
  margin-bottom: 1.5625rem;
  position: relative;
  text-align: center;
}

.featured-project-title {
  color: #fddfe7;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.project-image {
  display: block;
  opacity: 0.4;
  width: 100%;
}
.project-title-description {
  color: #fa382f;
  font-weight: 700;
  text-transform: uppercase;
}

.project-skills {
  margin-top: 1rem;
}

.project-skills li {
  background-color: #fddfe7;
  display: inline;
  font-size: 0.8125rem;
  padding: 0.3125rem 0.625rem;
}

/* Tech */
.tech {
  text-align: center;
}

/* Skills */
.skills {
  display: grid;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  ".... title title ...."
  "coding coding toolbox toolbox"
  "upcoming upcoming more more";
}

.coding-skills {
  grid-area: coding;
}

.more-skills {
  grid-area: more;
}

.toolbox-skills {
  grid-area: toolbox;
}

.upcoming-skills {
  grid-area: upcoming;
}

.coding-skills,
.toolbox-skills,
.upcoming-skills,
.more-skills {
  padding: 0;
  margin-bottom: 2.5rem;
  text-align: center;
}

.skill-title {
  color: #fa382f;
  font-size: 1.0625rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* My thoughts */
.posts {
  text-align: center;
}
.post-header {
  padding: 0;
}
.post-image {
  display: block;
  margin-bottom: 2.25rem;
  width: 100%;
}
.post {
  text-align: left;
}
.post-publishing-date {
  color: #fa382f;
  text-transform: uppercase;
}

/* For more */
.social-media {
  display: grid;
  grid-auto-rows: minmax(10px, auto);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  ".... title title ...."
  ".... social social ....";
  justify-items: center;
  padding-bottom: 8rem;
}

.social-media-name {
  color: #fa382f;
  font-size: 0.6875rem;
  font-weight: 700;
  position: absolute;
  text-transform: uppercase;
  top: 50px;
}
.social-media .social-media-icon {
  height: 20px;
} 

.social-media .social-links {
  margin-top: 2.25rem;
}

.social-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.social-media .social-media-icon {
  align-self: center;
  margin-top: 0;
}

.social-media .social-links li {
  margin-left: 75px;
}

.social-media .social-links li:first-child {
  margin: 0;
}
.social-media .social-links li::before {
  border: 3px solid #fa382f;
  height: 58px;
  width: 58px;
}

/* Footer */
.site-footer {
  background-color: #072bce;
  color: #fff;
  text-align: center;
}

.social-media .social-links {
  margin-top: 1rem;
}
.contact-title {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.contact-details {
  font-style: normal;
  line-height: 2;
}

.contact-name {
  font-weight: 700;
}

.site-footer a {
  color: #fff;
  text-decoration: none;
}

/* Tablet size */
@media screen and (min-width: 668px) {
  .site-header {
    grid-template-columns: repeat(3, minmax(186px, 213px));
    grid-template-areas:   
    ".... .... social"
    "title .... portrait"
    "tagline tagline portrait"
    ".... .... portrait";
    height: 350px;
    justify-content: center;
  }

  .site-header .social-links {
    justify-content: center;
  }

  .author-portrait {
    top: 55px;
    justify-self: center;
    width: 200px;
  }

  .portfolio-introduction,
  .tech p {
    max-width: 40rem;
    margin: 0 auto;
  }

  .featured-projects {
    display: grid;
    grid-gap: 1.875rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .posts {
    display: grid;
    grid-gap: 0 1.875rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }

  .posts .section-title {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .skills {
  grid-template-columns: repeat(3, 222px);
  grid-template-areas:
  ".... title ...."
  "coding toolbox more"
  "upcoming .... ....";
  justify-content: center;
  }
}

/* Desktop size */
@media screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }

  .site-header {
    grid-template-columns: repeat(3, 266px);
    grid-template-areas:   
    ".... .... social"
    "title title portrait"
    "tagline tagline portrait"
    ".... .... portrait";
    height: 460px;
    justify-content: center;
  }

  .site-tagline {
    margin-bottom: 3rem;
  }

  .site-header .social-links {
    justify-self: center;
  }

  .author-portrait {
    justify-self: center;
    top: 10px;
    width: 260px;
  }

  .section-title {
    font-size: 1.2rem;
  }

  .skills {
    grid-template-columns: repeat(3, 300px);
  }

  .featured-projects {
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
  }

  .other-projects {
    display: grid;
    grid-gap: 0 37.5px;
    grid-template-columns: repeat(2, 382px);
    justify-content: center;
  }

  .project {
    grid-column: 1 / span 2;
  }

  .posts {
    grid-template-columns: repeat(2, 382px);
    justify-content: center;
  }

  .site-header .social-links {
    margin-bottom: 3rem;
  }

  .site-header .social-links li::before {
    border: 2px solid #fff;
    height: 60px;
    width: 60px;
  }

  .site-header .social-links li {
    margin-left: 10px;
  }

  .site-header .social-links li:first-child {
    margin: 0;
  }

  .site-header .social-media-icon {
    height: 24px;
  }

  .site-header .social-link {
    height: 60px;
    width: 60px;
  }
  .social-media .social-links li::before { 
    height: 90px;
    width: 90px;
  }

  .social-media .social-links li {
    margin-left: 60px;
  }

  .social-media .social-media-icon {
    height: 32px;
  }

  .social-media-name {
    top: 120px;
  }

  .social-media .social-link {
    height: 120px;
    width: 120px;
  }
}